.type-nav-product-page {
	height: 140px;
	overflow: hidden;

	.full-img {
		height: 600px;
	}
	.under-content {
		display: none;
	}
}

.page-of-products {
	border: none;
	padding: 0;

	.special-offers-desctop {
		display: block;
		overflow: hidden;

		.wrapper {
			max-width: 100%;
			padding: 0;
		}

		.special-offers-list {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			display: flex;
			justify-content: space-between;
			margin: 2px auto 0;
			text-align: center;
			@include border-box;
			overflow: hidden;

			li {
				position: relative;
				@include transition;
				margin: 2px 0;

				&:nth-child(n+9) {
					display: none;
				}

				/*-------------------------*/
				@-webkit-keyframes card-block-animation {
					0% {
						right: -100%;
					}
					50% {
						right: -50%;
					}
					100% {
						right: 0;
					}
				}
				@-moz-keyframes card-block-animation {
					0% {
						right: -100%;
					}
					50% {
						right: -50%;
					}
					100% {
						right: 0;
					}
				}
				@-o-keyframes card-block-animation {
					0% {
						right: -100%;
					}
					50% {
						right: -50%;
					}
					100% {
						right: 0;
					}
				}
				@keyframes card-block-animation {
					0% {
						right: -100%;
					}
					50% {
						right: -50%;
					}
					100% {
						right: 0;
					}
				}
				/*-------------------------*/
				@-webkit-keyframes hulf-block-animation {
					0% {
						left: -100%;
					}
					50% {
						left: -50%;
					}
					100% {
						left: 0;
					}
				}
				@-moz-keyframes hulf-block-animation {
					0% {
						left: -100%;
					}
					50% {
						left: -50%;
					}
					100% {
						left: 0;
					}
				}
				@-o-keyframes hulf-block-animation {
					0% {
						left: -100%;
					}
					50% {
						left: -50%;
					}
					100% {
						left: 0;
					}
				}
				@keyframes hulf-block-animation {
					0% {
						left: -100%;
					}
					50% {
						left: -50%;
					}
					100% {
						left: 0;
					}
				}
				/*-------------------------*/

				@-webkit-keyframes view-animation {
					0% {
						left: -100%;
					}
					50% {
						left: -50%;
					}
					100% {
						left: 100%;
					}
				}
				@-moz-keyframes view-animation {
					0% {
						left: -100%;
					}
					50% {
						left: -50%;
					}
					100% {
						left: 100%;
					}
				}
				@-o-keyframes view-animation {
					0% {
						left: -100%;
					}
					50% {
						left: -50%;
					}
					100% {
						left: 100%;
					}
				}
				@keyframes view-animation {
					0% {
						left: -100%;
					}
					50% {
						left: -50%;
					}
					100% {
						left: 100%;
					}
				}

				&:hover {
					.img-wrapper {
						.overflow-block {
							display: block;

							.hulf-block-bg {
								animation: hulf-block-animation 1s linear;
								-webkit-animation-duration: 1s;
								animation-duration: 1s;
								animation-fill-mode: forwards;
								animation-direction: normal;

								.view {
									animation: hulf-block-animation 1s linear;
									-webkit-animation-duration: 1s;
									animation-duration: 1s;
									animation-fill-mode: forwards;
									animation-direction: normal;
								}
							}

							.card-block {
								animation: card-block-animation 0.85s linear;
								-webkit-animation-duration: 0.85s;
								animation-duration: 0.85s;
								animation-fill-mode: forwards;
								animation-direction: normal;
							}
						}
					}
				}

				.img-wrapper {
					width: 158px;
					height: 211px;
					position: relative;
					overflow: hidden;

					img {
						width: auto;
						height: 100%;
						display: block;
						margin: 0 auto;
						text-align: center;
					}

					.overflow-block {
						display: none;
						position: absolute;
						overflow: hidden;
						top: 0;
						left: 0;
						width: 100%;
						height: 79.5%;
						z-index: 2;
						@include transition;

						.hulf-block-bg {
							float: left;
							width: 60%;
							height: 100%;
							position: relative;
							left: -100%;
							background: rgba(199,102,102, 0.8);

							.view {
								position: relative;
								display: block;
								left: -100%;
								width: 62px;
								height: 100%;
								float: right;
								color: white;
								font: 700 20px / 22px $Arial;
								@include transition;
								cursor: pointer;
								background-color: rgba(0, 0, 0, 0.3);

								span {
									position: absolute;
									top: 50%;
									right: 5px;
									transform: translateY(-50%);
									display: block;
									width: 42px;
									height: 34px;

									img {
										position: absolute;
										z-index: 3;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%);
										opacity: 0;
										display: block;
									}

									&:hover {

										span {
											opacity: 0;
										}

										img {
											opacity: 1;
										}
									}
								}
							}
						}

						.card-block {
							float: right;
							width: 40%;
							height: 100%;
							background: rgba(228,228,228, 0.8);
							position: relative;
							right: -100%;
							@include transition;

							&:hover {
								background: rgba(204,204,204, 0.8);

								a {
									color: #fff;
								}
							}

							a {
								position: absolute;
								top: 50%;
								right: 0;
								display: block;
								width: 100%;
								text-align: center;
								transform: translateY(-50%);
								color: #828282;
								font: 400 18px / 22px $Arial;
								@include transition;
								span {

									img {
										position: absolute;
										z-index: 3;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%);
										opacity: 0;
										width: 62px;
										height: 54px;
									}

									&:hover {

										& > span {
											opacity: 0;
										}

										img {
											opacity: 1;
										}
									}
								}
							}
						}

					}

					.item-title {
						width: 100%;
						position: absolute;
						left: 0;
						bottom: 0;
						padding: 15px 1px 14px;
						background: rgba(0, 0, 0, 0.6);
						text-align: center;
						margin: 0 auto;

						color: white;
						font: 700 11px / 15px $Arial;
					}
				}

				.price-block {
					margin: 0 auto;
					padding: 8px 0 7px;
					text-align: center;
					background: #c66666;
					color: #fff;
					font-family: "Arial", sans-serif;
					font-weight: 400;

					.dollar,
					.sub-price {
						font-size: 11px;
					}

					.main-price {
						font-size: 17px;
					}
				}
			}
		}

		.more-btn {
			display: block;
			margin: 20px auto;
			text-align: center;
			color: #fff;
			font: 700 18px / 22px $Arial;
			text-transform: uppercase;
		}
	}
}