/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*INCLUDE FONTS*/
@font-face {
  font-family: 'MyriadPro';
  src: url("../resources/MyriadPro/Semibold/MyriadPro-Semibold.eot");
  src: url("../resources/MyriadPro/Semibold/MyriadPro-Semibold.woff2") format("woff2"), url("../resources/MyriadPro/Semibold/MyriadPro-Semibold.woff") format("woff"), url("../resources/MyriadPro/Semibold/MyriadPro-Semibold.ttf") format("truetype"), url("../resources/MyriadPro/Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg"), url("../resources/MyriadPro/Semibold/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  src: url("../resources/MyriadPro/Regular/MyriadPro-Regular.eot");
  src: url("../resources/MyriadPro/Regular/MyriadPro-Regular.woff2") format("woff2"), url("../resources/MyriadPro/Regular/MyriadPro-Regular.woff") format("woff"), url("../resources/MyriadPro/Regular/MyriadPro-Regular.ttf") format("truetype"), url("../resources/MyriadPro/Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg"), url("../resources/MyriadPro/Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Bold/Arial-Bold.eot");
  src: url("../resources/Arial/Bold/Arial-Bold.woff2") format("woff2"), url("../resources/Arial/Bold/Arial-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Bold/Arial-BoldMT.woff") format("woff"), url("../resources/Arial/Bold/Arial-BoldMT.ttf") format("truetype"), url("../resources/Arial/Bold/Arial-BoldMT.svg#Arial-BoldMT") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Regular/ArialMT.woff") format("woff"), url("../resources/Arial/Regular/ArialMT.ttf") format("truetype"), url("../resources/Arial/Regular/ArialMT.svg#ArialMT") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/Regular/ArialRegular.eot");
  src: url("../resources/Arial/Regular/ArialRegular.woff2") format("woff2"), url("../resources/Arial/Regular/ArialRegular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Swiss721BT';
  src: url("../resources/Swis721BT/Roman/Swiss721BT-Roman.woff") format("woff"), url("../resources/Swis721BT/Roman/Swiss721BT-Roman.ttf") format("truetype"), url("../resources/Swis721BT/Roman/Swiss721BT-Roman.svg#Swiss721BT-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Swiss721BT';
  src: url("../resources/Swis721BT/Roman/TT0003M_.eot");
  src: url("../resources/Swis721BT/Roman/TT0003M_.woff2") format("woff2"), url("../resources/Swis721BT/Roman/TT0003M_.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTPro-ThEx';
  src: url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.eot");
  src: url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.woff2") format("woff2"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.woff") format("woff"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.ttf") format("truetype"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.svg#HelveticaNeueLTPro-ThEx") format("svg"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/*END INCLUDE FONTS*/
/*GENERAL STYLES*/
/* line 100, ../sass/main-styles.scss */
body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background: #fff;
}

/* line 193, ../sass/main-styles.scss */
.wrapper {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 201, ../sass/main-styles.scss */
a {
  text-decoration: none;
}

/* line 204, ../sass/main-styles.scss */
.direction {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 10px 0;
  background-color: #5ca7dc;
}
/* line 137, ../sass/main-styles.scss */
.direction .arrow-back {
  float: left;
}
/* line 140, ../sass/main-styles.scss */
.direction .direction-title {
  margin: 0 auto;
  text-align: center;
}
/* line 143, ../sass/main-styles.scss */
.direction .direction-title a {
  color: white;
  font: 400 15px/22px "Swiss721BT", sans-serif;
  text-transform: uppercase;
}

/* line 208, ../sass/main-styles.scss */
.videoWrapper {
  position: relative;
  margin: 15px auto;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  max-width: 971px;
  max-height: 527px;
  overflow: hidden;
}
/* line 184, ../sass/main-styles.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 211, ../sass/main-styles.scss */
.mapWrapper {
  overflow: hidden;
  padding-bottom: 10.25%;
  position: relative;
  height: 0;
}
/* line 157, ../sass/main-styles.scss */
.mapWrapper iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* line 164, ../sass/main-styles.scss */
.mapWrapper .map-overflow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

/* line 1, ../sass/header.scss */
header {
  position: relative;
  background-color: #efefef;
}
/* line 5, ../sass/header.scss */
header .logo {
  margin: 0 auto 10px;
  padding: 10px 0 0;
  text-align: center;
  width: 54px;
  height: 56px;
}
/* line 12, ../sass/header.scss */
header .logo img {
  max-width: 100%;
  height: auto;
}
/* line 18, ../sass/header.scss */
header .shop-name {
  margin: 0 auto 10px;
  text-align: center;
  color: #c76666;
  font: 700 39px/42px "Arial", sans-serif;
  text-transform: uppercase;
}
/* line 26, ../sass/header.scss */
header .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-top: 1px solid #c5c5c5;
}
/* line 33, ../sass/header.scss */
header .navigation-block {
  padding: 6px 0;
  overflow: hidden;
  background-color: #d7d7d7;
}
/* line 39, ../sass/header.scss */
header #search-form {
  float: left;
  max-width: 75%;
  width: auto;
}
/* line 45, ../sass/header.scss */
header #search-field {
  width: 30px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  background-color: inherit;
  background-image: url("../images/search-icon.png");
  background-position: 5px;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 35px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;
  cursor: pointer;
}
/* line 61, ../sass/header.scss */
header #search-field:focus {
  width: 100%;
  border-color: #ccc;
  background-color: #ccc;
}
/* line 68, ../sass/header.scss */
header .basket-wrapper {
  float: right;
}
/* line 71, ../sass/header.scss */
header .basket-wrapper .item-count {
  float: left;
  margin: 4px 8px 0 0;
}
/* line 75, ../sass/header.scss */
header .basket-wrapper .item-count a {
  color: #535353;
  font: 400 22px/24px "Arial", sans-serif;
}
/* line 80, ../sass/header.scss */
header .basket-wrapper .basket-icon {
  float: right;
  margin: 2px 0 0 0;
}

/* line 10, ../sass/_menu.scss */
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
/* line 20, ../sass/_menu.scss */
.container p {
  font-size: 14px;
}
/* line 24, ../sass/_menu.scss */
.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: rgba(0, 12, 21, 0.65);
  text-decoration: none;
  font-size: 27px;
  overflow: hidden;
  top: 5px;
}
/* line 34, ../sass/_menu.scss */
.container a:after {
  content: '';
  position: absolute;
  background: rgba(0, 12, 21, 0.65);
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: .35s ease;
}
/* line 45, ../sass/_menu.scss */
.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}

/* line 53, ../sass/_menu.scss */
h1 {
  position: relative;
  text-align: center;
  font-family: 'Vollkorn', serif;
}

/* line 59, ../sass/_menu.scss */
.button_container {
  position: absolute;
  top: 10px;
  right: 4%;
  height: 15px;
  width: 38px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
/* line 69, ../sass/_menu.scss */
.button_container:hover {
  opacity: .7;
}
/* line 89, ../sass/_menu.scss */
.button_container.active .top,
.button_container.active .middle,
.button_container.active .bottom {
  background: #c76666;
}
/* line 96, ../sass/_menu.scss */
.button_container span {
  background: #4f4f4f;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
/* line 107, ../sass/_menu.scss */
.button_container span:nth-of-type(2) {
  top: 6px;
}
/* line 111, ../sass/_menu.scss */
.button_container span:nth-of-type(3) {
  top: 12px;
}

/* line 117, ../sass/_menu.scss */
.overlay {
  position: absolute;
  background: rgba(238, 238, 238, 0.85);
  top: -44px;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 9;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
/* line 129, ../sass/_menu.scss */
.overlay .desctop {
  display: none;
}
/* line 133, ../sass/_menu.scss */
.overlay.open {
  height: 100%;
  height: auto;
}
/* line 139, ../sass/_menu.scss */
.overlay.open:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35px;
  top: 44px;
  left: 0;
  background: #d9d9d9;
  z-index: 2;
}
/* line 150, ../sass/_menu.scss */
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
/* line 154, ../sass/_menu.scss */
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
/* line 157, ../sass/_menu.scss */
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
/* line 160, ../sass/_menu.scss */
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
/* line 165, ../sass/_menu.scss */
.overlay nav {
  float: right;
  width: 281px;
  height: 480px;
  padding: 40px 0 20px;
  position: relative;
  top: 44px;
  right: 0;
  background-color: #eee;
  border-radius: 0;
}
/* line 176, ../sass/_menu.scss */
.overlay ul {
  float: right;
  width: 220px;
  list-style: none;
  padding: 0;
  margin: 0 28px 0 0;
  display: inline-block;
  position: relative;
  height: auto;
  text-align: right;
}
/* line 187, ../sass/_menu.scss */
.overlay ul li {
  display: block;
  min-height: 20px;
  position: relative;
  text-align: right;
  opacity: 0;
}
/* line 194, ../sass/_menu.scss */
.overlay ul li a {
  display: block;
  position: relative;
  font: 300 18px/38px "MyriadPro", sans-serif;
  color: #505050;
  text-decoration: none;
  overflow: hidden;
}
/* line 202, ../sass/_menu.scss */
.overlay ul li a:hover {
  color: #ce4545;
}
/* line 207, ../sass/_menu.scss */
.overlay ul li a.desctop-menu-active {
  color: #ce4545;
}
/* line 214, ../sass/_menu.scss */
.overlay .mobile-services li a {
  font: 700 26px/39px "Arial", sans-serif;
  color: #c76666;
  text-transform: uppercase;
}
/* line 221, ../sass/_menu.scss */
.overlay .mobile-main-menu {
  margin-top: 40px;
}
/* line 224, ../sass/_menu.scss */
.overlay .mobile-main-menu li a {
  color: #454545;
  font: 700 22px/32px "Arial", sans-serif;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/*SECTION TYPE NAV*/
/* line 2, ../sass/home-page.scss */
.type-nav {
  position: relative;
}
/* line 5, ../sass/home-page.scss */
.type-nav .full-img {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 545px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
/* line 28, ../sass/home-page.scss */
.type-nav .full-img .full-width-img {
  min-height: auto;
  height: 100%;
  min-width: auto;
  max-width: none;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 42, ../sass/home-page.scss */
.type-nav .desctop-block {
  display: none;
}
/* line 46, ../sass/home-page.scss */
.type-nav .under-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding-top: 26px;
}
/* line 55, ../sass/home-page.scss */
.type-nav .under-content .navigation-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
/* line 60, ../sass/home-page.scss */
.type-nav .under-content .navigation-menu li {
  display: block;
  margin: 10px auto;
  text-align: left;
  padding: 20px 0 20px 25px;
  background: rgba(0, 0, 0, 0.7);
}
/* line 67, ../sass/home-page.scss */
.type-nav .under-content .navigation-menu li a {
  color: white;
  font: 600 30px/32px "MyriadPro", sans-serif;
}
/* line 73, ../sass/home-page.scss */
.type-nav .under-content .navigation-menu .more-menu {
  display: none;
}

/*END SECTION TYPE NAV*/
/*SERVICES SECTION*/
/* line 81, ../sass/home-page.scss */
.services-section {
  background: url("../images/special-offers-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  border-bottom: 7px solid #c66666;
}
/* line 87, ../sass/home-page.scss */
.services-section .special-offers-desctop,
.services-section .services-list,
.services-section .list-of-qualities {
  display: none;
}
/* line 94, ../sass/home-page.scss */
.services-section .special-offers-section .title-block {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 11px 0;
  text-align: center;
  background: #fafafa;
}
/* line 102, ../sass/home-page.scss */
.services-section .special-offers-section .title-block .title {
  color: #c76666;
  font: 700 25px/26px "Arial", sans-serif;
}
/* line 108, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider {
  margin: 20px auto;
}
/* line 111, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider * {
  outline: none;
}
/* line 115, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 20px;
}
/* line 122, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item:hover .img-wrapper .overflow-block {
  display: block;
}
/* line 128, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper {
  width: 227px;
  height: 304px;
  position: relative;
  overflow: hidden;
}
/* line 134, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper img {
  width: auto;
  height: 100%;
}
/* line 139, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .overflow-block {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 86%;
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 150, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .overflow-block .hulf-block-bg {
  float: left;
  width: 60%;
  height: 100%;
  background: rgba(199, 102, 102, 0.8);
}
/* line 156, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .overflow-block .hulf-block-bg .view {
  position: relative;
  display: block;
  width: 62px;
  height: 100%;
  float: right;
  color: white;
  font: 700 20px/22px "Arial", sans-serif;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
/* line 167, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .overflow-block .hulf-block-bg .view span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/* line 174, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .overflow-block .hulf-block-bg .view:hover {
  background: rgba(0, 0, 0, 0.3);
}
/* line 180, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .overflow-block .card-block {
  float: right;
  width: 40%;
  height: 100%;
  background: rgba(228, 228, 228, 0.8);
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 188, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .overflow-block .card-block:hover {
  background: rgba(204, 204, 204, 0.8);
}
/* line 191, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .overflow-block .card-block:hover a {
  color: #fff;
}
/* line 196, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .overflow-block .card-block a {
  position: absolute;
  top: 50%;
  right: 2px;
  text-align: center;
  transform: translateY(-50%);
  color: #828282;
  font: 400 18px/22px "Arial", sans-serif;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 210, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .img-wrapper .item-title {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 0 14px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 0 auto;
  color: white;
  font: 700 13px/15px "Arial", sans-serif;
}
/* line 225, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .price-block {
  margin: 0 auto;
  padding: 8px 0 7px;
  text-align: center;
  background: #c66666;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}
/* line 234, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .price-block .dollar,
.services-section .special-offers-section .special-offers-slider .slider-item .price-block .sub-price {
  font-size: 11px;
}
/* line 239, ../sass/home-page.scss */
.services-section .special-offers-section .special-offers-slider .slider-item .price-block .main-price {
  font-size: 17px;
}

/*END SERVICES SECTION*/
/*PREFFOTER SECTION*/
/* line 249, ../sass/home-page.scss */
.preffoter-section {
  background: url("../images/preffoter-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
/* line 255, ../sass/home-page.scss */
.preffoter-section .welcome-title {
  margin: 27px auto 18px;
  text-align: center;
  color: #5a5a5a;
  font: 700 30px/30px "Arial", sans-serif;
}
/* line 262, ../sass/home-page.scss */
.preffoter-section p {
  color: #5a5a5a;
  font: 400 18px/22px "Arial", sans-serif;
  text-align: justify;
  word-break: break-word;
}

/*END PREFFOTER SECTION*/
/*END GENERAL STYLES*/
